<h1>New Article</h1>

<%= render 'form' %><!--This method calls the 'form' partial, which renders the view.-->

<%= link_to 'Back', articles_path %><!--This link sends user back to the articles list from the new form.-->
