<h1>Hello!  Welcome to my Rails blog!</h1>
<%= link_to 'My Blog', controller: 'articles' %><!--The link_to method creates a hyperlink based on text to display and where to go - in this case, to the path for articles.-->
